annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
blinker==1.9.0
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
dash==3.3.0
dash-bootstrap-components==2.0.4
-e git+ssh://git@github.com/OvaOksehode/auksjon-p--rygene.git@5613bcfca14abac485935fcb75b340dbb0d2cdba#egg=dnd_auction_game
fastapi==0.123.7
Flask==3.1.2
h11==0.16.0
idna==3.11
importlib_metadata==8.7.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
narwhals==2.13.0
nest-asyncio==1.6.0
numpy==2.3.5
packaging==25.0
pandas==2.3.3
plotly==6.5.0
py-machineid==1.0.0
pydantic==2.12.5
pydantic_core==2.41.5
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
retrying==1.4.2
setuptools==80.9.0
six==1.17.0
starlette==0.50.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.38.0
websockets==15.0.1
Werkzeug==3.1.4
zipp==3.23.0
